body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  background-color: teal;
}
#quote-box {
  text-align: center;
  max-width: 40vw;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  color: #d59696;
}

#text {
  text-align: center;
}

#author {
  text-align: right;
}

#iconText {
  display: flex;
  font-size: 20px;
}

.margin {
  margin: 0px 10px;
}

button {
  border: none;
  background-color: white;
  color: #d59696;
}

button:hover {
  cursor: pointer;
}

#buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  border-radius: 5px;
}

.icons > * {
  padding: 5px;
  font-size: 20px;
  margin: 0px 5px;
  color: white;
  background-color: #d59696;
  border: 5px;
}

.icons > * :hover {
  cursor: pointer;
}

#new-quote {
  font-size: 20px;
  padding: 10px;
  color: white;
  background-color: #d59696;
}

@media (max-width: 768px) {
  #quote-box {
    max-width: 80vw;
  }
}

@media (max-width: 768px) {
  #quote-box {
    max-width: 80vw;
  }
}
